/* Reset and global styles */
body {
    font-family: 'Heebo', sans-serif;
    background: linear-gradient(300deg, #ffe9d8 0%, #ffffff 100%);
    color: #151515;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
p {
    color: inherit;
}

.form-group {
    display: grid;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-block {
    width: 100%;
}

/* Card styles */
a,
p,
h3 {
    font-family: 'Heebo', sans-serif;
    color: white;
}


.navbar-link {
    color: #151515;
    align-items: right;
}

#card {
    height: 480px;
    margin: auto;
    border-radius: 10px;
}

/* Header styling */
header {
    height: 510px;
    border-radius: 16px;
}

header .carousel {
    display: grid;
    max-width: 1280px;
    margin: auto;
    border-radius: 16px;
}

#carouselExampleAutoplaying {
    max-width: 1280px;
    height: 510px;
    margin: auto;
    border-radius: 16px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

header .slide1 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

header .slide2 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

header .slide3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


#map{
    height:500px;
}


/* Weather box styles */
.weather-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    background-color:rgb(210, 201, 188);
    transition: 0.25s ease-in-out;
}
.weather-box p {
    color: #151515;
    margin: 0;
    
}

.weather-box:hover{
    transform: rotate(10deg);
    transition: 0.25s ease-in-out;
}


/* Style for grids section */
.container {
    display: grid;
    margin: 16px auto;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(12, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 16px;
    position: relative;
    overflow: hidden;
}

.container div {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.grid1 {
    grid-column: 1/3;
    grid-row: 1/5;
    background: url(/Assets/images/Vegas-1.jpg) center center;
    background-size: cover;
}


.grid2 {
    grid-column: 3/5;
    grid-row: 1/5;
    background: url(/Assets/images/Universal-Studios.jpg) center center;
    background-size: cover;
}


.grid3 {
    grid-column: 5/13;
    grid-row: 1/5;
    background: url(/Assets/images/Grnd-canyon-1.jpg) center center;
    background-size: cover;
}


.grid4 {
    grid-column: 1/7;
    grid-row: 5/8;
    background: url(/Assets/images/Miami-1.jpg) center center;
    background-size: cover;
}


.grid5 {
    grid-column: 7/13;
    grid-row: 5/8;
    background: url(/Assets/images/Mt-rushmore.jpg) center center;
    background-size: cover;
}

.grid1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: background-color 0.3s ease;
    opacity: 100%;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid1:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.grid2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: background-color 0.3s ease;
    opacity: 100%;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid2:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.grid3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: background-color 0.3s ease;
    opacity: 100%;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid3:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.grid4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: background-color 0.3s ease;
    opacity: 100%;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid4:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.grid5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: background-color 0.3s ease;
    opacity: 100%;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid5:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


/* Style for text in grids */

.grid1 .text-container {
    position: relative;
    top: 50%;
    z-index: 1;
}

.grid2 .text-container {
    position: relative;
    top: 50%;
    z-index: 1;
}

.grid3 .text-container {
    position: relative;
    top: 50%;
    z-index: 1;
}

.grid4 .text-container {
    position: relative;
    top: 30%;
    z-index: 1;
}

.grid5 .text-container {
    position: relative;
    top: 30%;
    z-index: 1;
}

.grid1 h3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    padding-top: 56px;
    padding-left: 32px;
}
.grid1 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 56px;
    padding-left: 32px;
}

.grid2 h3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    padding-top: 56px;
    padding-left: 32px;
}
.grid2 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 56px;
    padding-left: 32px;
}

.grid3 h3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    padding-top: 56px;
    padding-left: 32px;
}

.grid3 p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 56px;
    padding-left: 32px;
}

.grid4 h3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    padding-top: 56px;
    padding-left: 56px;
}

.grid4 p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 56px;
    padding-left: 56px;
}

.grid5 h3 {
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    padding-top: 56px;
    padding-left: 56px;
}

.grid5 p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 56px;
    padding-left: 56px;
}


/* Footer styling */
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

footer p {
    color: #151515;
}



/* Media query for screens smaller than 768px (standard mobile devices) */
@media only screen and (max-width: 768px) {
    #features {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 400px; 
        grid-gap: 16px;
        margin: 16px auto;
        max-width: 90%;
    }

    .grid1 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid2 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid3 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid4 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 0;
    }

    .grid5 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5 {
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: auto;
        background-size: cover;
        background-position: center;
    }

    .grid1 p,
    .grid2 p,
    .grid3 p,
    .grid4 p,
    .grid5 p {
        padding: 0px;
        font-size: 24px;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 0;
    }

    .grid1 h3,
    .grid2 h3,
    .grid3 h3,
    .grid4 h3,
    .grid5 h3 {
        padding: 0 32px;
        font-size: 32px;
    }
    
    #map{
        height:300px;
    }
}

/* Media query for screens larger than 768px */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #features {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 600px;
        grid-gap: 16px;
        margin: 16px auto;
        max-width: 90%;
    }

    .grid1 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid2 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid3 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid4 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 0;
    }

    .grid5 .text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5 {
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: auto;
        background-size: cover;
        background-position: center;
    }

    .grid1 p,
    .grid2 p,
    .grid3 p,
    .grid4 p,
    .grid5 p {
        padding: 0px;
        margin: 0;
        font-size: 24px;
    }

    .grid1 h3,
    .grid2 h3,
    .grid3 h3,
    .grid4 h3,
    .grid5 h3 {
        padding: 0 32px;
        font-size: 32px;
    }
}